<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class="jumbotron">
  <h1 id="casino_title">Mike's Casino</h1>
</div>



<div class="games">
  
    <a href="/blackjack"><div id="blackjack_img" ></div></a>
  
    <a href="/poker"><div id="poker_img" ></div>
  </div>
</div>

