
<% if session[:money] == 0 %>
  <h2 class="center">Sorry, you're broke!</h2>
  <p>Maybe you can borrow money from someone.</p>
  </br>
  <a href="/" class="btn btn-primary">Return to the lobby</a>
<% else %>
  <h2 class="center">Thanks for playing!</h2>
  <p class="return">
    <a href="/" class="btn btn-primary">Return to the lobby</a>
  </p>
<% end %>
