<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="/application.css">

<div class="jumbotron">
  <h1 id="lobby_title">Games Lobby</h1>
</div>

<div class="games">
    <a href="/blackjack"><h1>Blackjack</h1></a>
  </div>
</div>
