<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
    <div class="container">
    
    <h4>Please enter your name</h4>
    <div class="message">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>
    </div>
<form action='/new_player' method='post'>
  Name: <input type="text" name="player_name" />
  <br/>
  <input type="submit" class="btn" />
</form>
    </div>
  </body>
</html>
