
html{
  text-align: center;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

div.navbar {
  width: 100%;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; 
}

form#hit, form#stay {
  display: inline-block;
  margin-bottom: 100px;
}

form#stay {
  
}

img.card_image {
  width: 120px;
  height: 174px;
  margin: 0px 5px 5px 0px;
}

div.alert {
  width: 50%;
}

div.nav_container {
  margin-left: 7px;
}

h1#casino_title {
  text-align: center;
}

#blackjack_img  {
  margin-left: auto;
  margin-right: auto;
  background-image: url('/images/blackjack.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 460px 300px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

#poker_img  {
  display: none;
  background-image: url('/images/poker.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 460px 300px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

form#dealer_btn {
  margin:0;
  margin-top: 10px;
}

.total {
  margin: 0;
  margin-top: 10px;
}

.alert {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.return {
  text-align: center;
}
.games {
  height: 300px;
  width:100%;
}

.hidden {
  display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container {
  text-align: center;
}
.message {
  /*width: 50%;
  margin: 0 auto;*/
  margin-top: 10px;
  text-align: center;
}
.alert {
  text-align: center;
  display: inline-block;
}
.clearfix {
  overflow: auto;
}
#no_bet, #place_bet {
  margin-top: 5px;
}

#bet {
  margin-top: -10px;
}
